@font-face {
    font-family: "Open Sans";
    src: local("Open Sans") url(../font/OpenSans_Condensed-SemiBold.woff2) format(woff2),
        url(../font/OpenSans_Condensed-SemiBold.woff) format(woff);
    font-weight: 600;
}

@font-face {
    font-family: "Open Sans";
    src: local("Open Sans") url(../font/OpenSans_Condensed-Regular.woff2) format(woff, 2) url(../font/OpenSans_Condensed-Regular.woff) format(woff);
    font-weight: 400;
}

@font-face {
    font-family: "Open Sans";
    src: local("Open Sans") url(../font/OpenSans_Condensed-Light.woff2) format(woff2),
        url(../font/OpenSans_Condensed-Light.woff) format(woff);
    font-weight: 300;
}

body{
    font-family: "Open Sans";
    margin: 30px auto;
     max-width: 1170px;
  
}


main{
    border-top: 1px solid #DADADA;
   
}

:root {
    --primary-color: #3172B9;


}

.href-list {
    background-color: rgb(255, 255, 255);
    justify-content: flex-start;
    align-items: flex-start;
}

.a-list {
    justify-content: space-evenly;
    align-items: center;
    align-content: flex-start;
    display: flex;
    list-style-type: none;
    text-decoration: none;
    margin: 30px auto;
   

}

.header-a {
    font-size: 15px;
    font-weight: 600;
    line-height: 100%;
}

.a-button {
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: flex-start;
    display: flex;
    background-color: #3172B9;
    padding: 15px 35px 15px 35px;
    color: white;
    text-decoration: none;
    border: 1px solid #3172B9;
    border-radius: 3px;
    font-size: 15px;
    font-weight: 600;

}

#home {
    max-width: none;
}

.home-caption {
    font-size: 40px;
    font-weight: 300;
    line-height: 130%;
    margin-right: 826px;
    margin-top: 113px;

}

.home-text {
    flex-direction: column;
    align-items: flex-start;
    display: flex;
}


.a-free-buttun {
    padding: 15px 35px;
    background-color: #3172B9;
    color: white;
    font-size: 15px;
    font-weight: 600;
    line-height: 100%;
    border: 1px solid #3172B9;
    border-radius: 3px;
    height: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 134px;
}

.section-caption {
    font-size: 36px;
    font-weight: 300;
    line-height: 130%;
    margin-right: 826px;
    color: #1C1C1C;

}

.home-span {
    display: block;
    margin-top: 28px;

}

.home-section-text {
    font-weight: 300;
    font-size: 16px;
    line-height: 155%;
}

.image-logo {
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    display: flex;

}

#home {
    background-image: url(../images/first-bg\ 1.svg);
    background-repeat: no-repeat;
    height: 550px;

}

/*services*/


#services {
   
}

.sevices-cards-list {
    display: flex;
    gap: 30px;
}

.servic-card:hover {
    background-color: var(--primary-color);
    color: white;
}

.servic-card:hover h2,
.servic-card:hover p {
    color: white;
}

.servic-card:hover {
    svg {
        path {
            fill: white;
        }

    }

}

.services-caption {
    display: flex;
    font-size: 40px;
    font-weight: 300;
    line-height: 130%;
    justify-content: center;
    align-items: center;
    margin: 0 0 21px 0;
    transition: 2s ease;

}

.services-p {
    display: flex;
    justify-content: center;
    font-family: Open Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    text-align: center;

}

.servic-card {
    background-color: rgb(255, 255, 255);
    border: 1px solid #E4E4E4;
    display: inline-block;
    width: 270px;
    height: 320px;
    border: 1px solid #E4E4E4;
    transition: 2s ease;
    border-radius: 5px;
}

.services-card-svg-1 {
    margin-left: 101px;
    margin-top: 61px
}

.services-card-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    margin: 15px 30px 62px;
    transition: 2s ease;
    color: rgba(120, 120, 120, 1);
    align-items: center;
    letter-spacing: 0%;
}

.services-card-caption {
    display: flex;
    justify-content: center;
    color: #1C1C1C;
}

/*
.card-list:nth-child(1){
    background-image: url("../images/Rectangle\ 18.jpg");
    background-repeat: no-repeat;

}
.card-list:nth-child(2){
    background-image: url("../images/Rectangle\ 20.jpg");
    background-repeat: no-repeat;

}
.card-list:nth-child(3){
    background-image: url("../images/Rectangle\ 23.jpg");
    background-repeat: no-repeat;

}
.card-list:nth-child(4){
    background-image: url("../images/Rectangle\ 24.jpg");
    background-repeat: no-repeat;

}
*/

#articles {
    border-bottom: 1px solid #DADADA;
}

.card-list {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
    

.articles-caption {
   /*margin-left: 185px;*/
    padding: 0;
    margin-bottom: 42px;

}

.inner1 {
    background-image: url(../images/Rectangle\ 18.jpg);
    background-repeat: no-repeat;
    border-radius: 5px;
    display: inline-block;
    border: 1px solid #E4E4E4;
   /* margin-bottom: 30px;*/
    height: 180px;
    width: 570px;
}

.inner2 {
    background-image: url(../images/Rectangle\ 20.jpg);
    background-repeat: no-repeat;
    border-radius: 5px;
    display: inline-block;
    border: 1px solid #E4E4E4;
    /*margin-left: 30px;
    margin-bottom: 30px;*/
    height: 180px;
    width: 570px;
    margin-bottom: 30px;
    margin-left: 26px;
}

.inner3 {
    background-image: url(../images/Rectangle\ 23.jpg);
    background-repeat: no-repeat;
    border: 1px solid #E4E4E4;
    border-radius: 5px;
    display: inline-block;
    height: 180px;
    width: 570px;
}

.inner4 {
    background-image: url(../images/Rectangle\ 24.jpg);
    background-repeat: no-repeat;
    border: 1px solid #E4E4E4;
    border-radius: 5px;
    display: inline-block;
    height: 180px;
    width: 570px;
    transition: 0.2s ease;
    margin-left: 26px;
}

.inner1:hover {
    background-color: var(--primary-color);
    color: #FFFFFF;
}

.inner1:focus-visible {
    background-color: #71A7E2;
    color: #FFFFFF;

}

.inner1:active {
    background-color: #0E3B6C;
    color: #FFFFFF;
}

.inner2:hover {
    background-color: var(--primary-color);
    color: #FFFFFF;
}

.inner2:focus-visible {
    background-color: #71A7E2;
    color: #FFFFFF;
}

.inner2:active {
    background-color: #0E3B6C;
    color: #FFFFFF;
}

.inner3:hover {
    background-color: var(--primary-color);
    color: #FFFFFF;
}

.inner3:focus-visible {
    background-color: #71A7E2;
    color: #FFFFFF;
}

.inner3:active {
    background-color: #0E3B6C;
    color: #FFFFFF;
}

.inner4:hover {
    background-color: var(--primary-color);
    color: #FFFFFF;
}

.inner4:focus-visible {
    background-color: #71A7E2;
    color: #FFFFFF;
}

.inner4:active {
    background-color: #0E3B6C;
    color: #FFFFFF;
}


.articles-text {
    margin-left: 200px;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    margin-right: 160px;

}

.inner {
    font-size: 20px;
    color: #333;
    margin: 0px;
    padding-left: 25px;
    line-height: 165%;
}

.list-inner {
    list-style-type: none;
    padding: 0px;
}

.ul-list {
    display: flex;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 18px;
}

.home-a {
    text-decoration: underline;
    color: #3172B9;
    font-size: 15px;
    font-weight: 600;
    line-height: 100%;
}

/*.tel{
    background-image: url("../images/phone.jpg");
    background-repeat: no-repeat;
   
}

.locat {
    background-image: url(../images/location_on.jpg);
    background-repeat: no-repeat;
}
.mail{
    background-image: url(../images/mail.jpg);
    background-repeat: no-repeat;
}
    */

ul {
    list-style-type: none;
}

.clients-cards-list {
    display: flex;
    gap: 30px;
}

.clients-card {
    width: 370px;
    /*height: 362px;*/
    border: 1px solid #E4E4E4;
    border-radius: 5px;

}

.clients-card-info {
    display: flex;
    align-items: center;
}

.clients-name,
.clients-name-info {
    margin: 0;
}

.clients-name {
    font-size: 17px;
    font-weight: 600;
    line-height: 180%;
    color: #1C1C1C;
}

.clients-name-info {
    font-size: 14px;
    font-weight: 400;
    line-height: 180%;
    color: #787878;
}

.svg-clients {
    margin-left: 36px;
}

.clients-coments {
    margin: 51px 53px 33px 36px;
    font-size: 14px;
    font-weight: 400;
    line-height: 180%;
    color: #787878;
}

.clients-foto {
    margin: 28px 17px 32px 42px;
}

.clients-caption {
    margin-left: 35px;
}

.contacts-cards-list {
    display: flex;
    justify-content: space-evenly;
}

.contacts-caption {
    padding: 19px 0 30px 0px;
    color: #1C1C1C;
    font-size: 17px;
    font-weight: 600;
    left: 180%;
}

.telephone,
.mail-addres,
.location-lionic {
    display: block;
    color: #787878;
    font-size: 14px;
    font-weight: 400;
    line-height: 180%;
}

.contacts-caption1 {
    margin-left: 183px;
    font-size: 36px;
    line-height: 130%;
    font-weight: 300;
    color: #1C1C1C;
    margin-bottom: 109px;

}

.mail {
    width: 170px;
    height: 159px;
}

.tel {
    width: 121px;
    height: 159px;
}

.locat {
    width: 214px;
    height: 159px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 45px 0 0 0;
    border-top: 1px solid #DADADA;

}

.footer-p {
    font-size: 12px;
    font-weight: 400;
    color: #787878;
    line-height: 100%;
}

.footer-a-list {
    display: flex;
    gap: 28px;
    align-items: center;
}

.footer-a {
    font-size: 15px;
    font-weight: 600;
    line-height: 100%;
    color: #787878;
}

.footer-svg-list {
    display: flex;
    gap: 32px;
}

.footer-info {
    display: flex;
    gap: 28px;
    align-items: center;
}

.join-us-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    color: #787878;

}

.join-us-caption {

    font-size: 36px;
    line-height: 130%;
    font-weight: 300;
    color: #1C1C1C;
    text-align: center;
}

#name,
#email,
#tel,
#country {
    border: 1px solid #DADADA;
    border-radius: 50px;
    padding: 15px 28px;

}

#com {
    border: 1px solid #DADADA;
    border-radius: 20px;
    /*padding: 15px 28px 95px;*/
    width: 520px;
    height: 139px;
}

.join-get {
    border: 1px solid #3172B9;
    border-radius: 50px;
    padding: 15px 35px;
    background-color: #3172B9;
    color: white;
}

.join-us-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  
}

.data-list {
    display: flex;
    flex-wrap: wrap;
    width: calc((100% - 30px) / 2);
    gap: 19px;

}

.join-us-chekbox-text {
    display: flex;
    gap: 8px;
}